<p>
    list-ouvertures works!
  </p>
   
    
  
  
   <p>
      <table>
    
          <caption>listes des demandes d'ouvertures</caption>
        affectation:
      <select id="monselect">
      <option value="valeur1">oui</option> 
      <option value="valeur2" selected>Non</option>
      </select>
    
     date de contrat: 
      <select id="monselect">
      <option value="valeur1">oui</option> 
      <option value="valeur2" selected>Non</option>
      </select> 
    
     traité: 
      <select id="monselect">
      <option value="valeur1">oui</option> 
      <option value="valeur2" selected>Non</option>
      </select> 
    
          <thead> <!-- En-tête du tableau -->
              <tr>
                  <th>Num</th>
                  <th>Status</th>
                  <th>Type</th>
                  <th>date demande</th>
                  <th>date traitement</th>
          <th>date afffectation</th>
          <th>Num</th>
          <th>Prenum</th>
              </tr>
          </thead>
       
          <tbody> <!-- Corps du tableau -->
              <tr>
                  <td>Carmen</td>
                  <td>3status</td>
                  <td>123</td>
                  <td>M10/04/2019</td>
                  <td>M10/04/2019</td>
                  <td>M10/04/2019</td>
                  <td>Carmen</td>
                  <td>Dupont</td>
              </tr>
            
              
          </tbody>
       </table>
  
   </p>
  