<h2>Recherche de conseillers</h2>
<form action="get">
    <div>
        <label for="id">Identifiant : </label>
        <input type="text" name="id" id="id">
    </div>
    <div>
        <label for="nom">Nom : </label>
        <input type="text" name="nom" id="nom">
    </div>
    <div>
        <input type="submit" value="Éditer">  
        <input type="reset" value="Supprimer">
    </div>
</form>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Identifiant</th>
            <th>Mail</th>
            <th>Date contrat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dubois</td>
            <td>Carole</td>
            <td>123</td>
            <td>michelle@yahoo.fr</td>
            <td>10/04/2019</td>
        </tr>
    </tbody>
</table>