<h2>Devises</h2>
<form>
  <fieldset>
    <legend>Convertisseur de devise :</legend>
    <input type="number" name="conv" id="conv">
    <select id="convfrom">
      <option value="euros" selected>Euros</option> 
      <option value="dollars">Dollars</option>
      <option value="livres">Livres</option>
    </select>
    <select id="convto">
      <option value="euros">Euros</option> 
      <option value="dollars" selected>Dollars</option>
      <option value="livres">Livres</option>
    </select>
    <div>
      <input class="button" type="button" value="Résultat">
    </div>
  </fieldset>
  <fieldset>
      <legend>Cours de devise :</legend>
      <input type="text" name="conv" id="conv" value="1" disabled>
      <select id="coursfrom">
        <option value="euros" selected>Euros</option> 
        <option value="dollars">Dollars</option>
        <option value="livres">Livres</option>
      </select>
      <select id="coursto">
        <option value="euros">Euros</option> 
        <option value="dollars" selected>Dollars</option>
        <option value="livres">Livres</option>
      </select>
      <div>
        <input class="button" type="button" value="Résultat">
      </div>
    </fieldset>
</form>